<section class="container">
  <div class="register-match row">
    <div class="col-md-12">
      <h2 *ngIf="!isLoading && !hasRegistered">Register a 2 vs 2 match</h2>
      <div *ngIf="isLoading"><span class="fa fa-cog fa-spin fa-4x"></span></div>
      <div *ngIf="!isLoading && !hasRegistered">
        <div class="row">
          <div class="col-5">
            <label class="select-label" for="player1">Winner</label>
            <ng-select id="player1" [(ngModel)]="team1">
              <ng-option [value]="''">Velg...</ng-option>
              <ng-option *ngFor="let team of teams" [value]="team" [disabled]="team.uid === team2?.uid" >{{team.name}} ({{team.player1Name}} - {{team.player2Name}})</ng-option>
            </ng-select>
          </div>
          <div class="col-2"><span class="vs">won against</span></div>
          <div class="col-5">
            <label class="select-label" for="player2">Loser</label>
            <ng-select id="player2" [(ngModel)]="team2">
              <ng-option [value]="''">Velg...</ng-option>
              <ng-option *ngFor="let team of teams" [value]="team" [disabled]="team.uid === team1?.uid" >{{team.name}} ({{team.player1Name}} - {{team.player2Name}})</ng-option>
            </ng-select>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button (click)="registerWinner()" class="create-game">REGISTER WINNER</button>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoading && hasRegistered">
        <h3 class="header-winner">🏆 {{team1.name}} WON! 🏆 </h3>
        <div class="row summary-match">
          <div class="col-3">
            <p [ngClass]="{'loss': (matchResult.team1NewRating - matchResult.team1OldRating) <= 0, 'win' : (matchResult.team1NewRating - matchResult.team1OldRating) > 0}">
              <span *ngIf="(matchResult.team1NewRating - matchResult.team1OldRating) > 0">+</span>
              {{matchResult.team1NewRating - matchResult.team1OldRating}}
            </p>
          </div>
          <div class="col-3">
            <p>{{matchResult.team1Name}} ({{matchResult.team1NewRating}})</p>
          </div>
          <div class="col-3">
            <p>{{matchResult.team2Name}}  ({{matchResult.team2NewRating}})</p>
          </div>
          <div class="col-3">
            <p [ngClass]="{'loss': (matchResult.team2NewRating - matchResult.team2OldRating) <= 0, 'win' : (matchResult.team2NewRating - matchResult.team2OldRating) > 0}">
              <span *ngIf="(matchResult.team2NewRating - matchResult.team2OldRating) > 0">+</span>
              {{matchResult.team2NewRating - matchResult.team2OldRating}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button (click)="registerNewMatch()" class="create-game">REGISTER NEW MATCH</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-register-team></app-register-team>
</section>
