@import "../../../../styles/variables";

.header{
  height: 100px;
  .logo{
    float: left;
    width: 135px;
    height: auto;
    padding-top: 15px;
    @media screen and (max-width: $md-screen) {
     width: 80px;
    }
  }
  h2{
    text-align: right;
    padding-top: 25px;
    @media screen and (max-width: $md-screen) {
      padding-top: 15px;
      font-size: 24px;
    }
    @media screen and (max-width: $small-screen) {
      padding-top: 15px;
      font-size: 20px;
    }
  }
  a{
    float: right;
    color: white;
    margin-left: 35px;
    padding-top: 2px;
    &:visited{
      color: $corp-blue;
    }
    &:hover{
      color: $plum;
    }
    @media screen and (max-width: $small-screen) {
      margin-left: 15px;
    }
  }
}
