<section class="container">
  <div class="register-match row">
    <div class="col-md-12">
      <h2>Register a match</h2>
      <div *ngIf="isLoading"><span class="fa fa-cog fa-spin fa-4x"></span></div>
      <div *ngIf="!isLoading && !hasRegisterd">
        <div class="row">
          <div class="col-5">
            <label class="select-label" for="player1">Winner</label>
            <select [(ngModel)]="player1Id" class="select-box" id="player1">
              <option *ngFor="let user of users" [disabled]="user.uid === player2Id" [value]="user.uid">{{user?.username}} ({{user?.name}})</option>
            </select>
          </div>
          <div class="col-2"><span class="vs">VS</span></div>
          <div class="col-5">
            <label class="select-label" for="player2">Looser</label>
            <select class="select-box" id="player2" [(ngModel)]="player2Id">
              <option *ngFor="let user of users" [disabled]="user.uid === player1Id" [value]="user.uid">{{user?.username}} ({{user?.name}})</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button (click)="registerWinner()" class="create-game">REGISTER WINNER</button>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoading && hasRegisterd">
        <h3 class="header-winner">{{player1.name}} won the game!</h3>
        <div class="row summary-match">
          <div class="col-2">
            <p [ngClass]="{'loss': (matchResult.player1NewRating - matchResult.player1OldRating) <= 0, 'win' : (matchResult.player1NewRating - matchResult.player1OldRating) > 0}">
              <span *ngIf="(matchResult.player1NewRating - matchResult.player1OldRating) > 0">+</span>
              {{matchResult.player1NewRating - matchResult.player1OldRating}}
            </p>
          </div>
          <div class="col-3">
            <p>{{matchResult.player1Username}} ({{matchResult.player1NewRating}})</p>
          </div>
          <div class="col-1">
            <p>VS</p>
          </div>
          <div class="col-3">
            <p>{{matchResult.player2Username}}  ({{matchResult.player2NewRating}})</p>
          </div>
          <div class="col-2">
            <p [ngClass]="{'loss': (matchResult.player2NewRating - matchResult.player2OldRating) <= 0, 'win' : (matchResult.player2NewRating - matchResult.player2OldRating) > 0}">
              <span *ngIf="(matchResult.player2NewRating - matchResult.player2OldRating) > 0">+</span>
              {{matchResult.player2NewRating - matchResult.player2OldRating}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
