$aqua: #00c8c8;
$plum: #7028b7;
$plum-transparent: rgba(112, 40, 183, 0.8);
$tangarine-transparent: rgba(255, 152, 0, 0.8);
$raspberry-transparent: rgba(245, 40, 129, 0.8);

$plum-transparent-3: rgba(112, 40, 183, 0.1);
$tangarine-transparent-3: rgba(255, 152, 0, 0.1);
$raspberry-transparent-3: rgba(245, 40, 129, 0.1);

$rasberry: #f52881;
$tangarine: #ff9800;
$corp-blue: #063954;


// Screens
$small-screen: 760px;
$md-screen:1024px;
$large-screen: 1500px;
$s-mobile-screen: 375px;
$mobile-screen: 767px;
$ipad-screen: 1024px;
