<app-header></app-header>

<div class="login">
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-sm-12 col-lg-4">
        <h2>
          <span>Forgot password</span>
        </h2>
        <form *ngIf="!passwordReset" (ngSubmit)="resetPassword(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm" novalidate>
          <label for="email">Email</label>
          <input id="email" type="text" autocomplete="username" formControlName="email">
          <div class="error"><span *ngIf="email.invalid && (email.dirty || email.touched)" translate>Invalid email</span></div>

          <button type="submit">Log in</button>
        </form>
        <div *ngIf="passwordReset">
          <p class="success">Password reset link has been sent to your email</p>
          <a href="javascript:void(0)" [routerLink]="['/login']">Login</a>
        </div>

      </div>
    </div>
  </div>
</div>
