@import "../../../styles/mixins";


.login{
  background-image: linear-gradient(transparent, transparent,  black), url(../../../assets/images/evry-background.png); //if no support for gradient
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;

  .login-wrapper{
    width: 30%;
    max-width: 550px;
    margin: auto;
    margin-top: 15vh;
    padding-top: 35px;
    padding-bottom: 35px;
    border: 2px solid $corp-blue;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    @media screen and (max-width: $large-screen) {
      width: 45%;
      margin: auto;
      margin-top: 15vh;
    }
    @media screen and (max-width: $md-screen) {
      width: 90%;
      margin: auto;
      margin-top: 15vh;
    }
    .container{
      text-align: center;
    }
    label, input{
      display: block;
    }

    label{
      text-align: left;
      margin-top: 35px;
    }

    input{
      @include no-button-styling();
      @include standard-input($corp-blue);
      width: 100%;
    }

    button{
      @include no-button-styling();
      @include standard-button($corp-blue, $corp-blue-transparent, white);
      width: 100%;
      margin-top: 35px;
    }

    .new-user{
      padding-top: 15px;
      display: block;
      color: $corp-blue;
      &:visited{
        color: $corp-blue;
      }
    }

    .error{
      height: 15px;
      color: red;
    }
  }

}
