<div class="container history">
  <div class="row">
    <div class="col-12 center">
      <h2>Recent matches</h2>
    </div>
  </div>

  <div class="row history-table" *ngFor="let h of history">
    <div class="col-2">
      <p [ngClass]="{'loss': (h.winnerNewRating - h.winnerOldRating) <= 0, 'win' : (h.winnerNewRating - h.winnerOldRating) > 0}">
        <span *ngIf="(h.winnerNewRating - h.winnerOldRating) > 0">+</span>
        {{h.winnerNewRating - h.winnerOldRating}}
      </p>
    </div>
    <div class="col-3">
      <p>{{h.winnerName}} ({{h.winnerNewRating}})</p>
    </div>
    <div class="col-1">
      <p>VS</p>
    </div>
    <div class="col-3">
      <p>{{h.loserOldRating}}  ({{h.loserNewRating}})</p>
    </div>
    <div class="col-2">
      <p [ngClass]="{'loss': (h.loserNewRating - h.loserOldRating) <= 0, 'win' : (h.loserNewRating - h.loserOldRating) > 0}">
        <span *ngIf="(h.loserNewRating - h.loserOldRating) > 0">+</span>
        {{h.loserNewRating - h.loserOldRating}}
      </p>
    </div>
  </div>
</div>
