@import "../../../styles/variables";
@import "../../../styles/mixins";

.score {
  width: 75%;
  text-align: center;
  .score-content {
    text-align: left;
    width: 100%;
    min-height: 500px;
    border: 2px solid $plum;

    .user{
      font-size: 18px;
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid $plum;
    }
  }
  @media screen and (max-width: $large-screen) {
    width: 100%;
  }
}
