<section class="matchmaker">
  <div class="container">
    <h2 *ngIf="!selectedGame">New Match</h2>

    <div *ngIf="!selectedGame" class="row">
      <div class="col-md-6">
        <label>Premade teams</label>
        <button (click)="createGame(gameTypes?.premade)" type="button" class="matchmaker-button">1v1</button>
      </div>

      <div class="col-md-6">
        <label>Matchmaker</label>
        <button (click)="createGame(gameTypes?.matchmaking)" type="button" class="matchmaker-button">1v1</button>
      </div>
    </div>
  </div>
  <app-game-settings *ngIf="selectedGame === gameTypes?.premade"></app-game-settings>
</section>
