@import "../../../styles/variables";
@import "../../../styles/mixins";

.matchmaker{
  margin-top: 35px;
  text-align: center;

  h2{
    margin-bottom: 35px;
  }

  label{
    margin-top: 35px;
    display: block;
    font-size: 22px;
  }

  .matchmaker-button{
    @include no-button-styling();
    @include standard-button($tangarine, $tangarine-transparent, white);
    width: 50%;
  }

  .button-disabled{
    @include no-button-styling();
    @include standard-button(gray, gray, white);
    width: 50%;
  }
}
