<div class="epic-background" [ngClass]="{'blur': hasLoaded}"></div>
<div class="home" *ngIf="hasLoaded">
  <app-header></app-header>

  <nav>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <a [routerLink]="['/home']">Play</a>
        </div>
        <div class="col-4">
          <a [routerLink]="['/home/leader-board']">Table</a>
        </div>
        <div class="col-4">
          <a [routerLink]="['/home/history']">Recent</a>
        </div>
      </div>
    </div>

  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<div class="loading" *ngIf="!hasLoaded">
  <span><i class="fa fa-4x fa-cog fa-spin"></i></span>
</div>
