<div class="epic-background" [ngClass]="{'blur': hasLoaded}"></div>
<div class="home" *ngIf="hasLoaded">
  <app-header></app-header>

  <nav>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <a [routerLink]="['/home']">Play</a>
        </div>
        <div class="col-4">
          <a [routerLink]="['/home/leader-board']">Table</a>
        </div>
        <div class="col-4">
          <a [routerLink]="['/home/history']">Recent</a>
        </div>
      </div>
    </div>

  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <div *ngIf="!hasReadReleaseNote" class="release-notes">
    <h3>Release 1.2.1 Beta <button (click)="close()" class="close"><i class="material-icons">close</i></button></h3>

    <p>This release has the following changes:</p>
    <ul>
      <li>Updated Angular and other NPM packages</li>
      <li>Date on recent matches</li>
      <li>Just some tiny CSS changes</li>
      <li>Verify unique user names</li>
    </ul>
  </div>
</div>
<div class="loading" *ngIf="!hasLoaded">
  <span><i class="fa fa-4x fa-cog fa-spin"></i></span>
</div>
