<div class="epic-background" [ngClass]="{'blur': hasLoaded}"></div>
<div class="home" *ngIf="hasLoaded">
  <app-header></app-header>
  <main>
    <div class="matchmaker">
      <app-matchmaker></app-matchmaker>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <app-games></app-games>
        </div>
        <div class="col-md-6">
          <app-score></app-score>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <app-history></app-history>
    </div>

  </main>
</div>
<div class="loading" *ngIf="!hasLoaded">
  <span><i class="fa fa-4x fa-cog fa-spin"></i></span>
</div>
